<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_EnhancedEcommerce>
            <version>1.0.0</version>
        </Mediotype_EnhancedEcommerce>
    </modules>
    <global>
        <blocks>
            <mediotype_ee>
                <class>Mediotype_EnhancedEcommerce_Block</class>
            </mediotype_ee>
        </blocks>
        <helpers>
            <mediotype_ee>
                <class>Mediotype_EnhancedEcommerce_Helper</class>
            </mediotype_ee>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <mediotype_ee>
                    <file>mediotype/enhanced-ecommerce/google-enhanced-ecommerce.xml</file>
                </mediotype_ee>
            </updates>
        </layout>
        <routers>
            <mediotype_ee>
                <use>standard</use>
                <args>
                    <module>Mediotype_EnhancedEcommerce</module>
                    <frontName>enhanced-ecommerce-analytics</frontName>
                </args>
            </mediotype_ee>
        </routers>
    </frontend>
    <default>
        <mediotype_ee>
            <mediotype_ee_settings>
                <ee_enabled>1</ee_enabled>
            </mediotype_ee_settings>
        </mediotype_ee>
    </default>
</config>
