<?xml version="1.0"?>
<config>
    <modules>
        <Newsman_Newsletter>
            <version>0.1.0</version>
        </Newsman_Newsletter>
    </modules>

    <global>
        <blocks>
            <newsman_newsletter>
                <class>Newsman_Newsletter_Block</class>
            </newsman_newsletter>
        </blocks>
        <helpers>
            <newsman_newsletter>
                <class>Newsman_Newsletter_Helper</class>
            </newsman_newsletter>
        </helpers>
        <models>
            <newsman_newsletter>
                <class>Newsman_Newsletter_Model</class>
                <resourceModel>newsman_newsletter_resource</resourceModel>
            </newsman_newsletter>
            <newsletter>
                <rewrite>
                    <subscriber>Newsman_Newsletter_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <newsletter_mysql4>
                <rewrite>
                    <subscriber_collection>Newsman_Newsletter_Model_Resource_Subscriber_Collection</subscriber_collection>
                </rewrite>
            </newsletter_mysql4>
            <newsman_newsletter_resource>
                <class>Newsman_Newsletter_Model_Resource</class>
                <deprecatedNode>newsman_newsletter_mysql4</deprecatedNode>
                <entities>
                    <task>
                        <table>newsman_task</table>
                    </task>
                </entities>
            </newsman_newsletter_resource>
        </models>
        <resources>
            <newsman_newsletter_setup>
                <setup>
                    <module>Newsman_Newsletter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newsman_newsletter_setup>
        </resources>
        <events>
            <newsletter_subscriber_subscribe>
                <observers>
                    <newsletter_subscribe_observer>
                        <type>singleton</type>
                        <class>newsman_newsletter/observer</class>
                        <method>subscribe</method>
                    </newsletter_subscribe_observer>
                </observers>
            </newsletter_subscriber_subscribe>
            <newsletter_subscriber_unsubscribe>
                <observers>
                    <newsletter_subscribe_observer>
                        <type>singleton</type>
                        <class>newsman_newsletter/observer</class>
                        <method>unsubscribe</method>
                    </newsletter_subscribe_observer>
                </observers>
            </newsletter_subscriber_unsubscribe>
        </events>
        <template>
            <email>
                <newsman_newsletter_subscribers_synchronization_error_email_template translate="label"
                                                                                     module="newsman_newsletter">
                    <label>Newsman Subscribers Import</label>
                    <file>newsman_subscriber_import_warning.html</file>
                    <type>text</type>
                </newsman_newsletter_subscribers_synchronization_error_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <newsman_newsletter before="Mage_Adminhtml">Newsman_Newsletter_Adminhtml</newsman_newsletter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <newsman_newsletter>
                                            <title>Newsman Newsletter</title>
                                        </newsman_newsletter>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Newsman_Newsletter>
                    <files>
                        <default>Newsman_Newsletter.csv</default>
                    </files>
                </Newsman_Newsletter>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <subscribers_synchronization>
                <run>
                    <model>newsman_newsletter/observer::scheduleSync</model>
                </run>
            </subscribers_synchronization>
            <subscribers_queue_process>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>newsman_newsletter/queue::process</model>
                </run>
            </subscribers_queue_process>
        </jobs>
    </crontab>
    <default>
        <newsman_newsletter>
            <subscribers_synchronization>
                <enabled>0</enabled>
            </subscribers_synchronization>
            <subscribers_import>
                <batch_size>10000</batch_size>
                <queue_batch_size>25</queue_batch_size>
                <clear_failed_tasks>1</clear_failed_tasks>
                <delete_processed_tasks>1</delete_processed_tasks>
            </subscribers_import>
        </newsman_newsletter>
    </default>
</config>